<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.nepisirsem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kapak"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".corbaActivity" />
        <activity android:name=".etTavukActivity" />
        <activity android:name=".sebzeActivity" />
        <activity android:name=".icecekActivity" />
        <activity android:name=".corbaDetayActivity" />
        <activity android:name=".etTavukDetayActivity" />
        <activity android:name=".icecekDetayActivity" />
        <activity android:name=".sebzeDetayActivity" />
    </application>

</manifest>